<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wangpeijian.miniweather">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".myweather.MainActivity">
            <intent-filter>
                <action android:name="andriod.intent.action.MAIN"/>
                <category android:name="andriod.category.action.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".myweather.SelectCity">
            <intent-filter>
                <category android:name="andriod.category.action.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
